<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>user-servlet-signup</servlet-name>
        <servlet-class>ir.maktabsharif.hw10.servlet.UserServletSignup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user-servlet-signup</servlet-name>
        <url-pattern>/userSignup</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>user-filter</filter-name>
        <filter-class>ir.maktabsharif.hw10.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>user-filter</filter-name>
        <url-pattern>/userSignup</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>user-servlet-login</servlet-name>
        <servlet-class>ir.maktabsharif.hw10.servlet.UserServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user-servlet-login</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>


</web-app>